<!DOCTYPE html>
<html>
<head>
  <link  href="/static/favicon.ico" rel="icon" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
    [v-cloak] { display: none; }
    .v-toolbar__extension {
      background-color: #272727 !important;
    }
  </style>
</head>
<body>
  <div id="app">
    <v-app>

      <v-navigation-drawer app v-model="drawer" style="z-index:201 !important;">
        <v-list dense v-cloak>
          <v-list-item v-for="(menuItem, i) in nav" :key="i" @click="menuItemClicked(menuItem.file)" v-if="menuItem.enabled">
            <v-list-item-action><v-icon>{{menuItem.icon}}</v-icon></v-list-item-action>
            <v-list-item-content><v-list-item-title>{{menuItem.title}}</v-list-item-title></v-list-item-content>
          </v-list-item>
          <v-divider></v-divider>
          <v-list-item><v-list-item-content style="font-size:0.8em;margin-top:36px;">App version: 0.2.1</v-list-item-content></v-list-item>        
          <v-list-item><v-list-item-content style="font-size:0.8em;">Lib version: {{libVersion}}</v-list-item-content></v-list-item>        
        </v-list>

      </v-navigation-drawer>
  
      <v-card tile class="overflow-hidden">
        <v-app-bar
          ref="header"
          id="appbar"
          app
          dense
          elevation="6"
          :height="bannerHeight"
          elevate-on-scroll
          fade-img-on-scroll
          dark
          shrink-on-scroll
          :src="banner"
          scroll-target="#scrollableContent"
          :scroll-threshold="scrollThreshold"
        >
  
          <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
          <v-toolbar-title v-cloak>{{title}}</v-toolbar-title>
          <v-spacer></v-spacer>
          <template v-slot:extension v-if="essayConfig">
            <div style="position:relative; left:60px; top:-24px; height:96px; width:100%">
              <v-container>
                <v-row no-gutters>
                  <v-col md="9">
                    <v-card class="pa-2" flat style="margin-top: 50px; font-size:14pt !important; line-height:1.2em; background-color:#272727; color:white">
                      Author: {{author}}
                    </v-card>
                  </v-col>
                  <v-col md="3">
                    <v-card class="pa-2" flat style="padding:4px !important; font-size:10pt!important; line-height:1.2em; background-color:#272727; color:white">
                      <b>This visual essay contains:</b><br/>
                      &nbsp;&nbsp;{{numLocations}} map locations<br/>
                      &nbsp;&nbsp;{{numOverlays}} map overlays<br/>
                      &nbsp;&nbsp;{{numImages}} images<br/>
                      &nbsp;&nbsp;{{numPrimarySources}} primary source materials
                    </v-card>
                  </v-col>
                </v-row>
              </v-container>
            </div>
          </template>        
        </v-app-bar>

        <v-sheet ref="scrollableContent" id="scrollableContent" class="overflow-y-auto" :style="`height:${height}px;`">
          <v-container id="contentContainer" ref="contentContainer" :style="`!important; margin-top: ${essayTopMargin}px; height:100%;`">
            <v-layout>
              <v-flex><div id="content" ref="content" v-html="html"></div></v-flex>
            </v-layout>
          </v-container>
        </v-sheet>

        <v-app-bar v-if="siteConfig.showFooter" v-cloak app bottom hide-on-scroll dense color="#eee" elevation="6" scroll-target="#scrollableContent">
          <v-toolbar-title style="font-size:1.0em;">
            <img :src="`${imgBase}${siteConfig.logo}`" height="25px"/>
          </v-toolbar-title>

          <v-spacer></v-spacer>
          <!--
            <v-btn icon><v-icon>mdi-dots-vertical</v-icon></v-btn>
          -->
        </v-app-bar>
      </v-card>
    </v-app>
  </div>

  <script src="https://JSTOR-Labs.github.io/visual-essays/lib/visual-essays.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script>
    String.prototype.capitalize = function() {
      return this.charAt(0).toUpperCase() + this.slice(1)
    }
    String.prototype.titleize = function() {
      var string_array = this.replace(/-/, ' ').split(' ')
      string_array = string_array.map(function(str) {
       return str.capitalize(); 
      })
      return string_array.join(' ');
    }
    let defaults = {
      'jstor-labs.github.io': {acct: 'jstor-labs', repo: 'visual-essays', title: 'Visual Essays'},
      'localhost': {acct: 'jstor-labs', repo: 'visual-essays', title: 'Visual Essays'},
      'visual-essays.app': {acct: 'jstor-labs', repo: 'visual-essays', title: 'Visual Essays'},
      'plant-humanities.app': {acct: 'jstor-labs', repo: 'plant-humanities', title: 'Plant Humanities'},
      'kent-maps.online': {acct: 'kent-map', repo: 'dickens', title: 'Kent Maps'},
      'dickens.kent-maps.online': {acct: 'kent-map', repo: 'dickens', title: 'Kent Maps'}
    }

    window.app = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({
        drawer: false,
        nav: [
          { title: 'Home', icon: 'mdi-home', enabled: true },
          { file: 'about', title: 'About', icon: 'mdi-information', enabled: false },
          { file: 'contact', title: 'Contact', icon: 'mdi-contact-mail', enabled: false },
          { file: 'help', title: 'Help', icon: 'mdi-help-circle', enabled: false },
          { file: 'resources', title: 'Resources', icon: 'mdi-library', enabled: false }
        ],
        hostname: undefined,
        bannerHeight: 400,
        height: 0,
        html: undefined,
        service: undefined,
        acct: undefined,
        repo: undefined,
        rtime: undefined,
        timeout: false,
        isLoaded: false,
        delta: 200,
        essayCache: {},
        libVersion: undefined,
        siteConfig: {},
        essayConfig: undefined
      }),
      computed: {
        // banner() { return this.essayConfig.banner || this.siteConfig.banner },
        // title() { return this.essayConfig.title || this.siteConfig.title || this.repo ? this.repo.titleize() : '' }
        imgBase() { return this.hostname === 'localhost' ? '/static' : '' },
        banner() { return this.essayConfig ? this.essayConfig.banner : this.siteConfig.banner ? `${this.imgBase}${this.siteConfig.banner}` : undefined },
        title() { return this.essayConfig ? this.essayConfig.title : this.siteConfig.title || this.repo ? this.repo.titleize() : '' },
        numLocations() { return this.essayConfig ? this.essayConfig['num-locations'] || 0 : 0 },
        numOverlays() { return this.essayConfig ? this.essayConfig['num-overlays'] || 0 : 0 },
        numImages() { return this.essayConfig ? this.essayConfig['num-images'] || 0 : 0 },
        numPrimarySources() { return this.essayConfig ? this.essayConfig['num-primary-sources'] || 0 : 0 },
        author() { return this.essayConfig ? this.essayConfig['author'] || '' : '' },
        essayTopMargin() { return this.bannerHeight + (this.essayConfig ? 96 : 0) },
        scrollThreshold() { return this.essayConfig ? 400 : 350 }
      },
      created() {
        this.hostname = window.location.hostname.toLowerCase()
        if (window.location.hostname === 'localhost') {
            this.service = 'http://localhost:5000'
        } else {
          this.service = defaults[this.hostname] ? `https://${this.hostname}` : `https://visual-essays.app`
        }
      },
      mounted() {

        document.getElementById('appbar').addEventListener('wheel', this.throttle(this.scrollContent, 20))
        // this.$refs.scrollableContent.$el.scrollTo(0, 600)
        window.onpopstate = (e) => {
          this.loadEssay(e.state.file, true)
        }        
        const path = (window.location.hash ? window.location.hash.slice(1) : window.location.pathname.slice(1)).split('/').slice(window.location.hostname.indexOf('github.io') > 0 ? 1 : 0).filter(elem => elem !== '')
        let file
        if (path.length < 2) {
          if (window.location.hostname.indexOf('.github.io') >= 0) {
            this.acct = window.location.hostname.replace(/\.github\.io/, '')
            this.repo = window.location.pathname.split('/')[1]
          } else {
            this.acct = defaults[this.hostname].acct
            this.repo = defaults[this.hostname].repo
          }
          file = path.length === 1 && path[0] !== '' ? path[0] : undefined
        } else {
          this.acct = path[0]
          this.repo = path[1]
          file = path[2]
        }
        console.log(`essay: service=${this.service} acct=${this.acct} repo=${this.repo} file=${file}`)
        const configUrl = `${this.service}/config` + (this.acct ? `/${this.acct}` : '') + (this.repo ? `/${this.repo}` : '')
        fetch(configUrl).then(resp => resp.ok ? resp.json() : {}).then(config => {this.siteConfig = config; console.log('siteConfig', this.siteConfig)})
        this.setAndWatchHeight()
        this.loadEssay(file)
        // Find and preload navigation pages
        this.nav.filter(navItem => !navItem.enabled)
        .forEach(navItem => {
          this.cachingFetch(navItem.file)
          .then(html => {
            if (html) {
              this.nav.map(item => item.enabled = item.enabled || item.file == navItem.file)
            }
          })
        })
      },
      methods: {
        throttle(callback, interval) {
          let enableCall = true
          return function(...args) {
            if (!enableCall) return
            enableCall = false
            callback.apply(this, args)
            setTimeout(() => enableCall = true, interval)
          }
        },
        scrollContent(e) {
          const wheelDelta = e.wheelDelta
          // console.log(`scrollDirection ${wheelDelta > 0 ? 'down' : 'up'} ${wheelDelta}`)
          this.$refs.scrollableContent.$el.scrollTo(0, this.$refs.scrollableContent.$el.scrollTop - wheelDelta)
        },
        menuItemClicked(file) {
          this.drawer = false
          this.loadEssay(file)
        },
        cachingFetch(file) {
          const url = `${this.service}/essay` + (this.acct ? `/${this.acct}` : '') + (this.repo ? `/${this.repo}` : '') + (file ? `/${file}` : '')
          console.log(`loadEssay: service=${this.service} acct=${this.acct} repo=${this.repo} file=${file} cached=${this.essayCache[url] !== undefined}`)
          if (!this.essayCache[url]) {
            this.essayCache[url] = fetch(url).then((resp) => resp.ok ? resp.text() : null)
          }
          return this.essayCache[url]
        },
        loadEssay(file, replace) {
          this.cachingFetch(file)
          .then(html => {
            let browserPath = `${this.acct === defaults[this.hostname].acct && this.repo === defaults[this.hostname].repo ? '' : '/'+this.acct}${this.acct === defaults[this.hostname].acct && this.repo === defaults[this.hostname].repo ? '' : '/'+this.repo}${file ? '/'+file : ''}` || '/'
            if (replace) {
              history.replaceState({file: file}, '', browserPath)
            } else {
              history.pushState({file: file}, '', browserPath)
            }
            this.html = html
            this.$nextTick(() => window._essay = document.getElementById('essay').dataset.name)
          })
        },
        setAndWatchHeight() {
          this.height = Math.max(document.documentElement.clientHeight, window.innerHeight || 0)
          window.addEventListener('resize', () => {
            this.rtime = new Date()
            if (this.timeout === false) {
              this.timeout = true
              setTimeout(this.resizeend, this.delta)
            }
          })
        },
        resizeend() {
          if (new Date() - this.rtime < this.delta) {
            setTimeout(this.resizeend, this.delta)
          } else {
            this.timeout = false
            this.height = Math.max(document.documentElement.clientHeight, window.innerHeight || 0)
          }
        }
      },
      watch: {
        isLoaded() {
          if (this.isLoaded) {
            this.isLoaded = false
            this.$nextTick(() => {
              // convert embedded essay links
              document.getElementById('essay').querySelectorAll('a').forEach(link => {
                if (link.href.indexOf(this.service) === 0) {
                  const file = link.href.slice(link.href.lastIndexOf('/')+1)
                  link.addEventListener('click', () => this.loadEssay(file))
                  link.removeAttribute('href')
                }
              })
            })
          }
        }
      }
    })
  </script>
</body>
</html>