beautifulsoup4==4.8.1
bs4==0.0.1
cache-to-disk==0.0.4
certifi==2019.9.11
chardet==3.0.4
Click==7.0
diskcache==4.1.0
expiringdict==1.2.0
Flask==1.1.1
Flask-Cors==3.0.8
html5lib==1.0.1
idna==2.8
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.10.3
markdown2==2.3.8
MarkupSafe==1.1.1
PyLD==1.0.5
pyparsing==2.4.5
rdflib==4.2.2
rdflib-jsonld==0.4.0
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
typing==3.7.4.1
urllib3==1.25.7
webencodings==0.5.1
Werkzeug==0.16.0
