<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
    [v-cloak] { display: none; }
  </style>
</head>
<body>
  <div id="app">
    <v-app>

      <v-navigation-drawer app v-model="drawer" style="z-index:201 !important;">
        <v-list dense  v-cloak>
          <v-list-item v-for="(menuItem, i) in nav" :key="i" @click="menuItemClicked(menuItem.file)">
            <v-list-item-action><v-icon>{{menuItem.icon}}</v-icon></v-list-item-action>
            <v-list-item-content><v-list-item-title>{{menuItem.title}}</v-list-item-title></v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
  
      <v-card tile class="overflow-hidden">
        <v-app-bar
          ref="header"
          id="appbar"
          app
          prominent
          :height="bannerHeight"
          elevate-on-scroll
          fade-img-on-scroll
          dark
          shrink-on-scroll
          :src="banner"
          scroll-target="#scrollableContent"
          :scroll-threshold="scrollThreshold"
        >
  
          <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
          <v-toolbar-title v-cloak>{{title}}</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-app-bar>
  
        <v-sheet id="scrollableContent" class="overflow-y-auto" :style="`height:${height}px;`">
          <v-container id="contentContainer" ref="contentContainer" :style="`margin-top: ${essayTopMargin}px; height:100%;`">
            <v-layout>
              <v-flex><div id="content" ref="content" v-html="html"></div></v-flex>
            </v-layout>
          </v-container>
        </v-sheet>
  
        <v-footer ref="footer" :fixed="fixed" app>
          <v-flex ref="footer" class="text-xs-left"></v-flex>
        </v-footer>

      </v-card>
    </v-app>
  </div>

  <!-- 
  <script src="http://localhost:8080/lib/visual-essays.js"></script>
  -->
  <script src="https://JSTOR-Labs.github.io/visual-essays/lib/visual-essays-0.4.8.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script>
    let defaults = {
      acct: 'jstor-labs',
      repo: 'visual-essays',
      banner: 'https://picsum.photos/1200/225',
      title: 'Visual Essay'
    }
    const default_acct = 'jstor-labs'
    const default_repo = 'visual-essays'
    

    window.app = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({
        drawer: false,
        fixed: true,
        nav: [
          { title: 'Home', icon: 'mdi-home' },
          { file: 'about', title: 'About', icon: 'mdi-information' },
          { file: 'help', title: 'Help', icon: 'mdi-help-circle' },
          { file: 'contact', title: 'Contact', icon: 'mdi-contact-mail' },
          { file: 'resources', title: 'Resources', icon: 'mdi-library' }
        ],
        essayMetadata: {},
        bannerHeight: 200,
        scrollThreshold: 150,
        height: 0,
        essayTopMargin: 200,
        html: undefined,
        service: 'https://visual-essay-atjcn6za6q-uc.a.run.app/essay',
        acct: undefined,
        repo: undefined,
        rtime: undefined,
        timeout: false,
        isLoaded: false,
        delta: 200,
        essayCache: {}
      }),
      computed: {
        banner() { return this.essayMetadata.banner || defaults.banner },
        title() { return this.essayMetadata.title || defaults.title },
      },
      mounted() {
        window.onpopstate = (e) => {
          console.log('onpopstate', e)
          this.loadEssay(e.state.file, true)
        }        
        console.log(window.location)
        const path = (window.location.hash ? window.location.hash.slice(1) : window.location.pathname.slice(1)).split('/').slice(window.location.hostname.indexOf('github.io') > 0 ? 1 : 0).filter(elem => elem !== '')
        console.log('path', path)
        let file
        if (window.location.hostname === 'localhost') {
            this.service = 'http://localhost:5000/essay'
        }
        if (path.length < 2) {
          if (window.location.hostname.indexOf('.github.io') >= 0) {
            this.acct = window.location.hostname.replace(/\.github\.io/, '')
            this.repo = window.location.pathname.split('/')[1]
          } else {
            this.acct = defaults.acct
            this.repo = defaults.repo
          }
          file = path.length === 1 && path[0] !== '' ? path[0] : undefined
        } else {
          this.acct = path[0]
          this.repo = path[1]
          file = path[2]
        }
        console.log(`essay: service=${this.service} acct=${this.acct} repo=${this.repo} file=${file}`)
        this.setAndWatchHeight()
        this.loadEssay(file)
      },
      methods: {
        menuItemClicked(file) {
          this.drawer = false
          this.loadEssay(file)
        },
        cachingFetch(url) {
          if (!this.essayCache[url]) {
            this.essayCache[url] = fetch(url).then(resp => resp.text())
          }
          return this.essayCache[url]
        },
        loadEssay(file, replace) {
          const url = this.service + (this.acct ? `/${this.acct}` : '') + (this.repo ? `/${this.repo}` : '') + (file ? `/${file}` : '') + (this.service === 'http://localhost:5000/essay' ? '?mode=dev' : '')
          console.log(`loadEssay: service=${this.service} acct=${this.acct} repo=${this.repo} file=${file} cached=${this.essayCache[url] !== undefined}`)
          this.cachingFetch(url)
          .then(html => {
            let browserPath = `${this.acct === defaults.acct ? '' : '/'+this.acct}${this.repo === defaults.repo ? '' : '/'+this.repo}${file ? '/'+file : ''}` || '/'
            if (replace) {
              history.replaceState({file: file}, '', browserPath)
            } else {
              history.pushState({file: file}, '', browserPath)
            }
            this.html = html
            this.$nextTick(() => window._essay = document.getElementById('essay').dataset.name)
          })
        },
        setAndWatchHeight() {
          this.height = Math.max(document.documentElement.clientHeight, window.innerHeight || 0) - this.$refs.footer.$el.offsetHeight
          window.addEventListener('resize', () => {
            this.rtime = new Date()
            if (this.timeout === false) {
              this.timeout = true
              setTimeout(this.resizeend, this.delta)
            }
          })
        },
        resizeend() {
          if (new Date() - this.rtime < this.delta) {
            setTimeout(this.resizeend, this.delta)
          } else {
            this.timeout = false
            this.height = Math.max(document.documentElement.clientHeight, window.innerHeight || 0) - this.$refs.footer.$el.offsetHeight
          }
        }
      },
      watch: {
        essayMetadata() {
          console.log(`essayMetadata=${this.essayMetadata}`)
        },
        isLoaded() {
          if (this.isLoaded) {
            this.isLoaded = false
            this.$nextTick(() => {
              // convert embedded essay links
              document.getElementById('essay').querySelectorAll('a').forEach(link => {
                if (link.href.indexOf(this.service) === 0) {
                  const file = link.href.slice(link.href.lastIndexOf('/')+1)
                  link.addEventListener('click', () => this.loadEssay(file))
                  link.removeAttribute('href')
                }
              })
            })
          }
        }
      }
    })
  </script>
</body>
</html>